
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>tutorial start</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <style align="center" class="float-center">
                .columns{border: 0px solid #999999;}
                .menu-item a {color: #000000!important; padding: 0px; font-family: "Trebuchet MS"}
            </style>
            <table class="spacer float-center"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
            
            <table align="center" class="container float-center"><tbody><tr><td>
                <table class="spacer"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
            
                <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last" bgcolor=""><table><tr><th>
                        <table class="wrapper" align="center"><tr><td class="wrapper-inner">
                            <table class="row"><tbody><tr>
                                <th class="small-5 large-5 columns first"><table><tr><th>
                                    <img class="float-right" src="assets/img/medal.png" style="display:block;width:60px;height:60px" alt="this is an alt">
                                </th></tr></table></th>
                                <th class="small-7 large-7 columns last" valign="middle"><table><tr><th>
                                    <h6 class="text-left small-text-left" style="font-family:Trebuchet MS; font-weight:bold;">Danny Mcwaves</h6>
                                    <p class="text-left small-text-left" style="font-family:Trebuchet MS; font-size: 12px">Half.Man Half.Amazing</p>
                                </th></tr></table></th>
                            </tr></tbody></table>
                        </td></tr></table>
                    </th></tr></table></th>
            
                </tr></tbody></table>
            
                <table class="row collapse"><tbody><tr>
                    <th class="small-12 large-12 columns first last" bgcolor=""><table><tr><th><img src="http://placehold.it/600x300"></th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
            
                <table class="wrapper" align="center"><tr><td class="wrapper-inner">
                    <table class="row"><tbody><tr>
                        <th class="small-12 large-6 columns first"><table><tr><th>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </th></tr></table></th>
                        <th class="small-12 large-6 columns last"><table><tr><th>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </th></tr></table></th>
                    </tr></tbody></table>
                </td></tr></table>
            
                <table class="wrapper" align="center"><tr><td class="wrapper-inner">
                    <table class="spacer"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
            
                    <table class="row"><tbody><tr>
                        <th class="small-12 large-12 columns first last" bgcolor="#999999"><table><tr><th>
                            <table class="wrapper" align="center"><tr><td class="wrapper-inner">
                                <table class="spacer"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
            
                                <table class="row"><tbody><tr>
                                    <th class="small-12 large-12 columns first last"><table><tr><th>
                                        <p style="font-family:Tahoma;text-align:center;font-size:13px">this is a lorem ipsum mailing list. please do make to unsubscribe from it.</p>
                                        <a href="/uns" style="display:block;font-size:12px;text-decoration:underline;text-align:center;color:white;">unsubscribe</a>
                                    </th>
<th class="expander"></th></tr></table></th>
                                </tr></tbody></table>
                                <table class="row"><tbody><tr>
                                    <th class="small-4 large-4 columns first"><table><tr><th><table class="button expand warning"><tr><td><table><tr><td><center data-parsed=""><a href="/facebook" align="center" class="float-center">Facebook</a></center></td></tr></table></td>
<td class="expander"></td></tr></table></th></tr></table></th>
                                    <th class="small-4 large-4 columns"><table><tr><th><table class="button expand success"><tr><td><table><tr><td><center data-parsed=""><a href="/twitter" align="center" class="float-center">Twitter</a></center></td></tr></table></td>
<td class="expander"></td></tr></table></th></tr></table></th>
                                    <th class="small-4 large-4 columns last"><table><tr><th><table class="button expand alert"><tr><td><table><tr><td><center data-parsed=""><a href="/google" align="center" class="float-center">Google</a></center></td></tr></table></td>
<td class="expander"></td></tr></table></th></tr></table></th>
                                </tr></tbody></table>
                                <table class="row"><tbody><tr>
                                    <th class="small-12 large-12 columns first last"><table><tr><th><p style="font-family:Tahoma;text-align:center;font-size:13px;">&copy;  A HALF.MAN HALF.AMAZING PRODUCTION</p></th>
<th class="expander"></th></tr></table></th>
                                </tr></tbody></table>
            
                            </td></tr></table>
                        </th></tr></table></th>
                    </tr></tbody></table>
            
                </td></tr></table>
            
            </td></tr></tbody></table>
            <table class="spacer float-center"><tbody><tr><td height="24px" style="font-size:24px;line-height:24px;">&#xA0;</td></tr></tbody></table> 
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

